html.modal-active, body.modal-active  {
    overflow: hidden;
}

.site-container #modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
}

#modal-container.seven {
    transform: scale(1);
}
#modal-container.seven .modal-background {
    background: transparent;
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    overflow: hidden;
    animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven .modal-background .modal h2, #modal-container.seven .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn .5s 1.4s linear forwards;
}

#modal-container.seven.out {
    animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.seven.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.seven.out .modal-background .modal {
    animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}
#modal-container .modal-background .modal {
    background: white;
    padding: 50px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}
#modal-container .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
}

/*  */
@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes fadeIn {
    0% {
        background: transparent;
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: transparent;
    }
}
@keyframes scaleUp {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }
}
@keyframes scaleBack {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.85);
    }
}
@keyframes scaleForward {
    0% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }
    99.9% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes slideUpLarge {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes slideDownLarge {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes moveUp {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes moveDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(150px);
    }
}
@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    99.9% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(0);
    }
}
@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes roadRunnerIn {
    0% {
        transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
        transform: translateX(30px) skewX(0deg) scaleX(0.9);
    }
    100% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
}
@keyframes roadRunnerOut {
    0% {
        transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
        transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    }
    100% {
        transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}
@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes sketchOut {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 778;
    }
}
@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}
@keyframes modalFadeOut {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: -20px;
    }
}
@keyframes bondJamesBond {
    0% {
        transform: translateX(1000px);
    }
    80% {
        transform: translateX(0px);
        border-radius: 75px;
        height: 75px;
        width: 75px;
    }
    90% {
        border-radius: 3px;
        height: 182px;
        width: 247px;
    }
    100% {
        border-radius: 3px;
        height: 162px;
        width: 227px;
    }
}
@keyframes killShot {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(300px) rotate(45deg);
        opacity: 0;
    }
}
@keyframes fadeToRed {
    0% {
        box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
    }
    100% {
        box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
    }
}
@keyframes slowFade {
    0% {
        opacity: 1;
    }
    99.9% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
div.backcontainer {
    position: absolute;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid 1px rgba(221, 221, 221, 0.13);
    background-color: rgba(255, 255, 255, .2);
    width: 4%;
    left: 5.5%;
    padding-top: 5%;
    color: rgb(131, 131, 134);
    padding-top: 5%;
    text-align: center;
    transition: all 400ms ease;
    font-size: 3em;
    top: -2%;
    cursor: pointer;
}

div.backcontainer:hover{
    color: #B9747E;
    padding-top: 1%;
    padding-bottom: 4%;
    background: rgba(238, 238, 238, 0.42);
    border: solid 1px #BBBBBB;
}
/* main container here */
div.back {
    position: absolute;
}

div.back svg{
    transform: scale(0.6) rotate(90deg);
}

/* pretty lines */
path.bar {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke: rgba(168,76,89,.85);
    stroke-dasharray: 88px 600px;
    -webkit-transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

path.bar.top {
    stroke-dashoffset: -7px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}
path.bar.bottom {
    stroke-dashoffset: -315px;
    -webkit-transform: translateX(-39%);
    transform: translateX(-39%);
}

div.anim path.bar {
    stroke-width: 5px;
    stroke: #00a2b9;
}

div.anim path.bar.top {
    stroke-dasharray: 50px 600px;
    stroke-dashoffset: -308px;
}
div.anim path.bar.bottom {
    stroke-dasharray: 50px 600px;
    stroke-dashoffset: -0px;
}

div.back svg {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    transition-delay: 400ms;
    position: absolute;
    padding-top: 7em;
    top: 0em;
    left: 0;
}

div.anim.back svg{
    top: -5em;
}

div.anim.back {
    background-color: rgba(100, 100, 100, .2);
}